@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
:root {
    --Purple: #800080;
    --blueviolet: #8a2be2;
    --dimgrey: #696969;
    --white: #F5F4F0;
	--black : #000;
    --tWhite:rgba(255, 255, 255, 0.8);
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
#rpl-testimonials-section{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    width: 100%;
}
.rpl-testimonial-client{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rpl-testimonial-client h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color:var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
}
.rpl-testimonial-client span{
    font-size: 1.3rem;
    color: var(--dimgrey);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.rpl-testimonial-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.rpl-testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px #c2a8a81a;
    background-color: var(--white);
    padding: 20px;
    margin: 15px;
    background-color: rgb(229, 212, 244);
    cursor: pointer;
    border-radius: 5px;
}
.rpl-client-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: center;
    border: 1px solid blueviolet;

}
.rpl-client-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rpl-client{
    display: flex;
    align-items: center;
}
.rpl-client-client {
    display: flex;
    flex-direction: column;
    margin: 15px;

}
.rpl-client-client strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: .5px;
    color: blueviolet;
}
.rpl-client-client span{
    color: #979797;
    font-size: .8rem;
}
.rpl-notice{
    color:blueviolet;
}
.rpl-box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.rpl-client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.rpl-testimonial-box:hover{
    transform: translateY(-20px);
    transition: all ease .3s;
    border: 1px solid blueviolet;
}
.rpl-testimonial-box p:hover{
    color: rgb(99, 84, 84);
}
@media (max-width : 1200px){
    .rpl-testimonial-box{
        width:50%;
        padding: 10px;
    }
}
@media screen and (max-width: 960px){
    .rpl-testimonial-box{
        width:100%;
    }
    .rpl-testimonial-box h1{
        font-size: 1.4rem;
    }
}